{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.html_title'|trans }}{% endblock %}
{% block content %}
	
	<p><div style="background-color:gold;color:black">{{ error }}</div><p>

{% endblock %}