{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.html_title'|trans }}{% endblock %}
{% block content %}
<section class="section-2">
	<div class="container marketing">
		<div class="alert alert-danger">
			<button data-dismiss="alert" class="close" type="button">
		    	<i class="mine-icon fa fa-times"></i>
		    </button>
		    {{ error|raw  }}
		</div>
	</div>
</section>
{% endblock %}