{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step_verify.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block appjsinline %}
{% endblock %}

{% block content %}

    <section class="section-2">
      <div class="container marketing">

        <div class="headline">
          <h2>{{ 'candidacy.recover_password.header'|trans }}</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'candidacy.recover_password.h1_title'|trans }}</i>
        </h3>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider2">
        <!--    division -->
        
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">

                <div id="fuelux-wizard-container">

                  <div class="step-content pos-rel">
                  
                  {% for flashMessage in app.session.flashbag.get('msg') %}
							    <div class="alert alert-success">
	                  				<button data-dismiss="alert" class="close" type="button">
			                            	<i class="mine-icon fa fa-times"></i>
			                        </button>
			                        {{ flashMessage }}
								</div>
				  {% endfor %}
 
                </div>

              </div>
              
              
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
</section>
{% endblock %}