{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step8.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}
    <h1>{{ 'candidacy.step8.h1_title'|trans }}</h1>
    
    <p class="important">
    	{{ 'candidacy.step8.explanation'|trans }}
	</p>
	
{% endblock %}