{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step6.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step6.h1_title'|trans }}</h1>
    
    <p class="important">
		Tabla validacion
		
		 Alicia
Se incluyen solo los campos de texto libre
 
OK (desplegable)
Juan
 
Motivo de invalidación (Se le envía un correo automáticamente explicando este motivo al candidato o candidata)
 
NO OK
Marcos

Pendiente
		
	</p>
	
{% endblock %}