{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step5.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step5.h1_title'|trans }}</h1>
    
    <p class="important">
		Proporciona este enlace público a los candidatos y candidatas para que se den de alta rellenando el formulario que les aparecerá:
    
    	Http://municipales2015.listabierta.org/elmunicipioregistrado/altacandidaturas
		
		Continuar
	</p>
	
{% endblock %}