{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step8.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step8.h1_title'|trans }}</h1>
    
    <p class="important">
		Explicación del sellado de tiempo de Tractis y su verificación externa
	</p>
	
{% endblock %}