{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.h1_title'|trans }}</h1>
    
    <p class="important">
    	Nombre
    	Apellidos
    	DNI
    	Email
    	Provincia del municipio
    	Nombre del municipio
    	
    	Número de móvil: 
    	
    	Envía SMS al nº999999 con la palabra VERIFICA
    </p>
{% endblock %}