{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step3.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step3.h1_title'|trans }}</h1>
    
    <p class="important">
		Plazo de presentación de candidaturas (mínimo una semana, se recomiendan 15 días) DE _(fecha)   HASTA__(fecha)
	</p>
	
{% endblock %}