.important { color: #336699; }
.flag{width:16px;height:16px;padding:0px;vertical-align:middle;padding-right:5px}
.phone_verify{padding:15px}
#candidacy_step_conditions_conditions{text-align: center;}
#candidacy_step_conditions_conditions_1{width:30px;margin: 0 auto}
#candidacy_step_conditions_conditions_0{width:30px;margin: 0 auto}
#candidacy_step_5_continue{margin-left:0px !important}
#candidacy_step_7_start_candidacy{margin-left:0px !important}
#candidate_step3_languages{width:250px}