{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p><div style="background-color:gold;color:black">{{ error }}</div><p>
			
{% endblock %}