{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step6.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'town.step6.h1_title'|trans }}</h1>
    
    <p class="important">
Tabla


 ¿Cómo consideras estas opciones que has elegido? (excluyentes)
El más importante
Muy importante
importante
relativamente importante
poco importante
El menos importante
Nivel académico
 
 
 
 
 
 
Idiomas
x
 
 
 
 
 
Experiencia laboral
x
 
 
 
 
 
Experiencia relacionada con el desempeño municipal
x
 
 
 
 
 
Prioridades de actuación municipal
x
 
 
 
 
 
Valores morales
x
 
 
 
 
 

<a href="#">Ver candidatos seleccionados</a>
    
    
    
	</p>
	
{% endblock %}