{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step7.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'town.step7.h1_title'|trans }}</h1>
    
    <p class="important">
Sugerencia de algoritmo para la selección de candidatos:

Comenzar el filtro desde el “más importante” al “menos importante” hasta que quede un número de candidatos de X
	</p>
	
{% endblock %}