{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step8.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'town.step8.h1_title'|trans }}</h1>
    
    <p class="important">
PUNTOS TOTALES
PUNTOS DISPONIBLES
	</p>
	
{% endblock %}