{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step7.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_town_widget %}
{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block content %}
    <h1>{{ 'town.step7.h1_title'|trans }}</h1>
    
    <p class="important">
Sugerencia de algoritmo para la selección de candidatos:

Comenzar el filtro desde el “más importante” al “menos importante” hasta que quede un número de candidatos de X
	</p>
	
{% endblock %}