{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step5.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_town_widget %}
{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block content %}
    <h1>{{ 'town.step5.h1_title'|trans }}</h1>
    
    <p class="important">
¿En qué actividades crees que debería centrarse con prioridad el gobierno municipal ? (seleccione hasta tres opciones)

Mejorar las funciones de gobierno del municipio
Mejorar la seguridad ciudadana
Luchar contra la pobreza y la exclusión social
Mejorar la atención sanitaria
Mejorar la gestión educativa y cultural
Atender a los problemas de vivienda, urbanismo e infraestructuras
Mejorar la sostenibilidad del municipio
Invertir en fomento del empleo
Aumentar la participación ciudadana en la gestión municipal
Mejorar los servicios de transporte
Invertir en actividades industriales, agrícolas o comerciales
Invertir en Investigación
Gestionar mejor la deuda y las operaciones financieras

 ¿Qué valores morales consideras de mayor importancia para el desempeño de la función pública? (elige hasta tres)

HONESTIDAD
TRANSPARENCIA
RESPETO
RESPONSABILIDAD
COMPROMISO
INTEGRIDAD
IGUALDAD
TOLERANCIA
COOPERACIÓN
SOLIDARIDAD
JUSTICIA
HUMILDAD
    
    
    
	</p>
	
{% endblock %}