{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step3.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'town.step3.h1_title'|trans }}</h1>
    
    <p class="important">
¿Qué campo de experiencia laboral te gustaría que hubiese desarrollado?	(Seleccione hasta tres opciones)	

No considero importante su experiencia laboral previa (no aparece el resto de opciones)
Actividades físicas o deportivas
Administración o gestión
Agraria o pesquera
Arte o artesanía
Comercio y marketing
Edificación, obra civil
Energía o agua
Mecánica, electricidad o electrónica
Hostelería y turismo
Informática o comunicaciones
Industria
Sanidad
Medio Ambiente
Educación o servicios a la comunidad
Transporte
Finanzas
    
    
	</p>
	
{% endblock %}