{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step4.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_town_widget %}
{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block content %}
    <h1>{{ 'town.step4.h1_title'|trans }}</h1>
    
    <p class="important">
¿Qué experiencia relacionada con el desempeño municipal te gustaría que hubiese desarrollado?	(Seleccione hasta tres opciones)

No considero que deba tener ninguna experiencia previa relacionada con el desempeño municipal
Ha tenido experiencia en la mejora del funcionamiento organizativo de entidades
Ha participado en la elaboración de planes de protección civil o seguridad ciudadana
Ha contribuido a la lucha contra la pobreza o la exclusión social
Ha gestionado actividades de atención sanitaria
Ha gestionado actividades educativas o culturales
Ha gestionado planes de infraestructura, vivienda o urbanismo
Ha gestionado actividades de fomento de la sostenibilidad o protección medioambiental
Ha gestionado actividades de fomento del empleo
Ha gestionado actividades de fomento de la transparencia, la participación ciudadana o la igualdad de género.
Ha gestionado actividades colectivas en el campo industrial o agrícola
Ha gestionado actividades colectivas en el campo de las tecnologías de la información o la comunicación
Ha gestionado actividades colectivas de investigación o desarrollo
Ha gestionado actividades colectivas en el campo del cooperativismo
Ha gestionado eficazmente presupuestos superiores al millón de euros
Ha tenido experiencia de trabajo internacional
Ha realizado funciones de representación o portavocía de colectivos
    
    
	</p>
	
{% endblock %}