{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step9.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step9.h1_title'|trans }}</h1>
    
    <p class="important">
		Cuando se cierra la votación se genera una url con los resultados que se 
		envía por email a todos los votantes, candidatos y administrador, tipo:
	</p>
	
{% endblock %}