Hola <b>{{ name }},<br />
<br />
Tu cuenta de administrador de candidatura ha sido creada.<br />
<br />
Puedes acceder a tu cuenta desde el enlace <a href="http://municipales2015.listabierta.org/login">http://municipales2015.listabierta.org/login</a>
<br />