Hola <b>{{ name }},<br />
<br />
Puedes proporcionar este enlace público de votacion a los votantes para que procedan 
rellenando el formulario que les aparecerá:<br /><br />
<br />
<a href="http://municipales2015.listabierta.org/{{ address_slug }}/vota">http://municipales2015.listabierta.org/{{ address_slug }}/vota</a>
<br />