Hola <b>{{ name }},<br />
<br />
Puedes proporcionar este enlace público a los candidatos y candidatas para que se 
den de alta rellenando el formulario que les aparecerá:<br /><br />
<br />
<a href="http://municipales2015.listabierta.org/{{ address_slug }}/altacandidaturas">http://municipales2015.listabierta.org/{{ address_slug }}/altacandidaturas</a>
<br />