Este es tu <a href="{{ url('consultation_step1', { 'token' : token }) }}" title="Enlace consulta ciudadana Participa Sevilla">enlace único</a> e intransferible para votar 
en la consulta sobre la investidura a la alcadía de Sevilla, 
una vez ejercido el voto haciendo clic en el enlace, no podrá 
ser utilizado de nuevo, cada votante inscrito en el censo recibe su 
propio enlace. Ahora, tú decides !<br />
<br />
Tu equipo de participación en Participa Sevilla,
Si quieres invitar a más gente a participar en la votación, solo tienes que darles el enlace https://participasevilla.org
<br />
PD: Si el enlace anterior no funciona correctamente visita:<br />
<br />
<br /><a href="{{ url('consultation_step1', { 'token' : token }) }}">{{ url('consultation_step1', { 'token' : token }) }}</a>