Hola <b>{{ name }}</b>,<br />
Gracias por participar en este proceso de decisión colectiva de Participa Sevilla, queremos informate de que 
tu voto ha sido emitido y sellado de forma correcta. Por favor difunde esta votación entre aquellos/as conocidos 
tuyos que podrían estar interesados/as enviándoles simplemente el enlace a nuestra página web. <a href="https://participasevilla.org" title="Participa Sevilla">https://participasevilla.org</a> recuerda 
que el plazo de votación termina hoy a las 12 de la noche.<br />
Gracias de nuevo,<br />
Tu equipo de participación ciudadana en Participa Sevilla<br />
Cadena de sellado temporal del voto: {{ response_string }}<br />
Momento del sellado temporal:  {{ response_time|date("d-m-Y H:i:s") }}<br />